<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold text-glow" href="/">Excuses API</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link text-glow" href="/" Match="NavLinkMatch.All">All Excuses</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-glow" href="/add-excuse">Add Excuse</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}